<footer class="bg-dark text-white pt-5 pb-4">
    <div class="container text-center text-md-left">
      <div class="row text-center text-md-left">
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3" >
          <h5 class="text-uppercase mb-4 font-weight-bold text-warning">VBC Rentals</h5>
          <p>
            <a class="foot-link" href="/root">
              Home
             </a>
            </p>
          <p>
              <a class="foot-link" href="/root">
                About Us
               </a>
          </p>
          <p>
              <a class="foot-link" href=" ">
                Privacy and Policy
               </a>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3" >
          <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contact us</h5>
          <p>Mysore-570009, India.</p>
          <p>VBC Rentals</p>
          <p>Contact: +91 8975345403</p>
        </div>
        <hr class="mb-4">
          <div class="row align-item-center">
           <div class="col-md-7 col-lg-8">
             <p>Copyright ©2021 All rights reserved by:
               <a href="#" style="text-decoration:none;">
                 <strong class="text-white">VBC Rentals</strong>
               </a>
               |All Rights Reserved|
             </p>
           </div>
           <div class="col-md-6 col-lg-4">
           </div>
          </div>
        </div>
</body>
</html>
