<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>VBC Rentals</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="css/bootstrap-social.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-light container-fluid ">
    <a class="navbar-brand" href="/root"><img src="\Images\vbcLogo.jpg">VBC RENTALS</a>
    <ul class="navbar-nav" mr-auto>
        <li class="nav-item">
            <a class="nav-link" href="/root">
             Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/root">
              About
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/loginc">
           login
          </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/registerc">
              Register
            </a>
            </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
              Contact
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">
            Admin login
          </a>
        </li>
    </ul>
</nav>