<%- include('partials/header') %>
      <div id="customerimg" class="container-fluid">
        <h1 class="main-text">Contact Us</h1>
      </div>
  <section>
   <br>
    <div class="backImg">
      <br> <br><br><br>
        <div class="border container" style="padding:30px 20px 30px 20px">
          <div class=" text-center" >
          <h2 style="color: rgb(17, 199, 245);">HOW TO FIND US</h2>
         <p style="color:white;">Mysore-570009, India. VBC Rentals</p> 
         <p style="color:white;">Contact: +91 8975345403</p>
         <a href = "mailto: vasbhach@gmail.com" style="color:white;text-decoration:none;">vasbhach@gmail.com</a>
         <br><br>
         <div class="text-center">
          <button type="submit"  class="btn btn-warning " name="blist" value=""><a class="button-link" href="/map"><b>Go to Map</b></a></button>
        </div>
        </div>
        </div>
        </div>
    </div>
  </section>

    </body>
</html>
<br>

<%- include('partials/footer') %>