<!DOCTYPE html>
<html leng="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
        <title>Vehicle list</title>
     <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
      <div class="box" id="heading">
        <h1>Vehicle List</h1>
      </div>
      <div class="box">
      
                       
              </div>
         <%}) %>
         <form class="item" action="/" method="post">
            <button type="submit" name="list" value=""><a href="/add">Add</a></button>
          </form>
    </div>
    
    </body>
</html>