<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">RENTALS</h1>
    <p class="lead">Don't keep your secrets, share them anonymously!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/loginhome" role="button">Admin</a>
   <a class="btn btn-dark btn-lg" href="/homec" role="button">Customer</a>

  </div>
</div>

<%- include('partials/footer') %>
