<%- include('partials/header') %>

<head>
  <link rel="stylesheet" type="text/css" href="styleform.css">
</head>
<body>
<div class="body">
 
  
  <div class="container">
    <div class="header">
         <h1>Admin Login</h1>     
       </div>
       <% var error; %>
    <div class="main">
     <form action="/login" method="POST">
       <span style="color: red;">
        <h6 style="padding-left: 95px;"> <%=error%></h6>
       </span>
      <span>
        <label style="padding-left: 30px;"><b>Username</b></label>
        <input type="string" class="form-control" id="email" name="username">
      </span><br>
      <span>
        <label style="padding-left: 30px;"><b>Password</b></label>
        <input type="password" class="form-control" id="password" name="password">

      </span><br>
      <button style="margin-left: 30px;" type="submit" class="btn btn-dark">Login</button>
     </form>
    </div>
  
  
  
  
  
  
  
   </div>


</div>
 
</body>

