
<%- include('partials/header') %>
<head>
  <link rel="stylesheet" type="text/css" href="styleform.css">
</head>
<body>
<div class="body container-fluid">


  <div class="container">

      <div class="header">
         <h1>User Login</h1>
       </div>
       <% var error%>
       
    <div class="main">
      <span style="color: red;">
       <h6 style="padding-left: 95px;"> <%=error%></h6>
      </span>
     <form action="/loginc" method="POST">
       
      <span>
        <label style="padding-left: 30px;"><b>Username/Email</b></label><br>
        <input type="string" class="form-control" id="email" name="username">
      </span><br>
      <span>
        <label style="padding-left: 30px;"><b>Password<br></b></label>
        <input type="password" class="form-control" id="password" name="password">
      </span><br>
      <button style="margin-left: 30px;" type="submit" class="btn btn-dark">Login</button>
     </form>
    </div>
  
  
  
  
  
  
  
   </div>


</div>
 
</body>