<%- include('partials/header') %>

<head>
  <link rel="stylesheet" type="text/css" href="styleform.css">
</head>
<body>
<div class="body">


  <div class="container">
  
      <div class="header">
         <h1>Register</h1>
       </div>
    <div class="main">
     <form action="/registerc" method="POST">
      <span>
        
        <input type="email" class="form-control" id="email" placeholder="email" name="username">
      </span><br>
      <span>
        
        <input type="password" class="form-control" id="password" placeholder="password" name="password">
      </span><br>
      <span>
        <input type="string" class="form-control" id="name" placeholder="name" name="name">
      </span><br>
      <span>
        <input type="string" class="form-control" placeholder="address" name="address">
      </span><br>
      <span>
        <input type="string" class="form-control" placeholder="phone" name="pno">
      </span><br>
      <button type="submit" class="btn btn-dark">Register</button>
     </form>
    </div>
  
  
  
  
  
  
  
   </div>


</div>
 
</body>
