<!-- <%- include('partials/header') %>
<div class="containermt-5">
  <h1>Register an account</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /register route -->
          <!-- <form action="/registerc" method="post">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" name="username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password">
            </div>

             <div class="form-group">
              <label for="cname">Name</label>
              <input type="string" class="form-control" id="name" name="name">
            </div>
             <div class="form-group">
              <label for="address">Address</label>
              <input type="string" class="form-control" name="address">
            </div>

            <div class="form-group">
              <label for="pno">Phone number</label>
              <input type="string" class="form-control" name="pno">
            </div> 
         
            <button type="submit" class="btn btn-dark">Register</button>
          </form>

        </div>
      </div>
    </div> -->

    <!-- <div class="col-sm-4">
      <div class="card social-block">
        <div class="card-body">
          <a class="btn btn-block" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign Up with Google
          </a>
        </div>
      </div>
    </div> -->

  <!-- </div>
</div> -->

<!-- <%- include('partials/header') %> --> -->

<head>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="body">


  <div class="container">
  
  
 
    <!-- <div class="row">
      <div class="col-sm-8">
        <div class="card">
          <div class="card-body">
            <h1>SIGN IN TO YOUR ACCOUNT</h1>
            <!-- Makes POST request to /login route -->
            <!-- <form action="/loginc" method="POST">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="string" class="form-control" id="email" name="username">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password">
              </div>
              <button type="submit" class="btn btn-dark">Login</button>
            </form>
  
          </div>
        </div>
      </div> -->
  
      <!-- <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <a class="btn btn-block" href="/auth/google" role="button">
              <i class="fab fa-google"></i>
              Sign In with Google
            </a>
          </div>
        </div>
      </div> --> -->
  
    <!-- </div> -->
  
      <div class="header">
         <h1>Register</h1>
       </div>
    <div class="main">
     <form action="/registerc" method="POST">
      <span>
        
        <input type="email" class="form-control" id="email" placeholder="email" name="username">
      </span><br>
      <span>
        
        <input type="password" class="form-control" id="password" placeholder="password" name="password">
      </span><br>
      <span>
        <input type="string" class="form-control" id="name" placeholder="name" name="name">
      </span><br>
      <span>
        <input type="string" class="form-control" placeholder="address" name="address">
      </span><br>
      <span>
        <input type="string" class="form-control" placeholder="phone" name="pno">
      </span><br>
      <button type="submit" class="btn btn-dark">Register</button>
     </form>
    </div>
  
  
  
  
  
  
  
   </div>


</div>
 
</body>
<%- include('partials/footer') %>
