<%- include('partials/header') %>

<head>
  <link rel="stylesheet" type="text/css" href="styleform.css">
</head>
<body>
<div class="body">


  <div class="container">
  
      <div class="header">
         <h1>Register</h1>
       </div>
    <div class="main">
     <form action="/registerc" method="POST" enctype="multipart/form-data">
      <span>
        
        <input type="email" class="form-control" id="email" placeholder="email" name="username" required="true">
      </span><br>
      <span>
        
        <input type="password" class="form-control" id="password" placeholder="password" name="password" required="true">
      </span><br>
      <span>
        <input type="string" class="form-control" id="name" placeholder="name" name="name" required="true">
      </span><br>
      <span>
        <input type="string" class="form-control" placeholder="address" name="address" required="true">
      </span><br>
      <span>
        <input type="string" class="form-control" placeholder="phone" name="pno" required="true">
      </span><br>
      
      <span>
        <input type="file" name="filei">
      </span>
      <button type="submit" class="btn btn-dark">Register</button>
     </form>
    </div>
  
  
  
  
  
  
  
   </div>


</div>
 
</body>
