.navbar-nav{
  margin-left:auto;
  color:aqua;
}
.dropdown__menu{
  border: lpx solid #eee;
  width: 120px;
}
.dropdown__menu button{
  display:block;
}
.dropdown__button {
  background :blueviolet;
  border :none;
  padding:5px;
  width:120px;
  border-radius:4px;
  cursor:pointer;
}
.hide{
  display:none;
}